**/*.csv
**/*.json

*.csv
*.json
*.xlsx
*.zip

*.~undotree~

db.py

keywords.txt

/.idea/
.DS_Store/
.DS_Store
/essay/
/data/
/data_clean/
data/
__pycache__/

build/
dbs/
eggs/
project.egg-info/
*.egg

!/dataclean/data
