from article_crawler.baseSpider import baseSpider


class $classname(baseSpider):
    name = '$name'

    @baseSpider.parser('$name', '$domain')
    def parser_1(self, response, **kwargs):
        pass
